{% extends 'base.html' %}

{%block head %}
{{ super() }}
{% endblock %}

{%block title %} Deep Avatars {% endblock %}

{% block content %}
<div class="container-fluid text-center">
    <div class="row content mt-5 mb-1 ml-3">
        <div class="col-md-12" id="covidCount">
            <h1 id="covidNumberTitle">
                English
            </h1>
        </div>
    </div>
</div>

<div class="container text-center align-items-center user-interact rounded mx-auto">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item"
                src="https://storage.googleapis.com/lbghack2021team2.appspot.com/cap_america_demo.mp4"
                allowfullscreen></iframe>
    </div>
</div>

<div class="container text-center align-items-center user-interact rounded mx-auto">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item"
                src="https://storage.googleapis.com/lbghack2021team2.appspot.com/rock_demo.mp4"
                allowfullscreen></iframe>
    </div>
</div>

<div class="container-fluid text-center">
    <div class="row content mt-5 mb-1 ml-3">
        <div class="col-md-12">
            <h1>
                German
            </h1>
        </div>
    </div>
</div>

<div class="container text-center align-items-center user-interact rounded mx-auto">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item"
                src="https://storage.googleapis.com/lbghack2021team2.appspot.com/cap_america_german.mp4"
                allowfullscreen></iframe>
    </div>
</div>

<div class="container-fluid text-center">
    <div class="row content mt-5 mb-1 ml-3">
        <div class="col-md-12">
            <h1>
                Arabic
            </h1>
        </div>
    </div>
</div>

<div class="container text-center align-items-center user-interact rounded mx-auto">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item"
                src="https://storage.googleapis.com/lbghack2021team2.appspot.com/the_rock_arabic.mp4"
                allowfullscreen></iframe>
    </div>
</div>


{% endblock %}