{% extends 'base.html' %}

{%block head %}
{{ super() }}
{% endblock %}

{%block title %} Deep Avatars {% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}" defer></script>
{% endblock %}

{% block content %}

<div class="container-fluid align-items-left">

    <div class="row content mt-5 mb-1 ml-3">
        <div class="col-md-4" id="covidCount">
            <h1 id="covidNumberTitle">
                Make an animated avatar of yourself and watch it speak!
            </h1>
        </div>
    </div>

</div>

<div class="container-fluid text-center align-items-center user-interact rounded mx-5 w-75 h-75">
    <div class="row content my-5">
        <div class="col-md-8 align-items-left my-3">
            <form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}"
                  class="input-group mb-3 px-2 py-2 rounded bg-white shadow-sm">
                <div class="form-group col-md-12 align-items-left text-left ml-3">
                    <h4>
                        <i class="far fa-image"></i>
                        CHOOSE IMAGE
                    </h4>

                    <div class="row py-4">
                        <div class="col-md-4">
                            <img src="{{ url_for('static', filename='images/generic-placeholder.jpg') }}" class="rounded img-thumbnail">
                        </div>
                        <div class="col-md-4">
                            <img src="{{ url_for('static', filename='images/generic-placeholder.jpg') }}" class="rounded img-thumbnail">
                        </div>
                        <div class="col-md-4">
                            <img src="{{ url_for('static', filename='images/generic-placeholder.jpg') }}" class="rounded img-thumbnail">
                        </div>


                        <!-- Upload image input-->

<!--                        <input id="upload" type="file" name="photo" onchange="readURL(this);"-->
<!--                               class="form-control border-0">-->
<!--                        <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose-->
<!--                            file</label>-->
<!--                        <div class="input-group-append">-->
<!--                            <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i-->
<!--                                    class="fa fa-cloud-upload mr-2 text-muted"></i><small-->
<!--                                    class="text-uppercase font-weight-bold text-muted">Choose file</small></label>-->
<!--                        </div>-->
                    </div>
                    <!--                            <button type="submit" class="btn btn-success btn-lg btn-block" id="create-avatar-btn1">-->
                    <!--                                Create your avatar!-->
                    <!--                            </button>-->
                    <!--                    </div>-->
                </div>

                <div class="form-group col-md-12 align-items-left text-left ml-3">
                    <h4>
                        <i class="far fa-comment-dots"></i>
                        EDIT TEXT
                    </h4>
                    <div class="form-group">
                        <textarea class="form-control" id="text-to-speak" rows="3" name="text-to-speak"
                                  placeholder="Type a message for your avatar to speak"></textarea>
                    </div>
                </div>
                <div class="form-group col-md-12 align-items-left text-left ml-3">
                    <h4>
                        <i class="far fa-envelope"></i>
                        ENTER YOUR EMAIL
                    </h4>
                    <!--                <form data-toggle="validator" role="form">-->
                    <div class="form-group">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email"
                               data-error="Bruh, that email address is invalid" required>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-lg btn-block" id="create-avatar-btn">
                            Create your avatar!
                        </button>

                    </div>
                    <!--                </form>-->

                </div>
            </form>
        </div>meet.google.com/rmx-znsf-pro
        <div class="col-md-4 align-items-center" style="align-self: center">
            <!-- Uploaded image area-->
            <div class="image-area my-4">
                <img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
            </div>
        </div>
    </div>

</div>
{% endblock %}